# Categorizing

Using groupby, pandas can also group dataframe based on a certain attribute. The same like in SQL.

In [2]:
import pandas as pd

In [3]:
di = pd.read_csv('./iris_dataset.csv')
di.head()

   sepal_length  sepal_width  petal_length  petal_width       flower
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
di.groupby('flower').count()

                 sepal_length  sepal_width  petal_length  petal_width
flower
Iris-setosa                50           50            50           50
Iris-versicolor            50           50            50           50
Iris-virginica             50           50            50           50

In [5]:
di.groupby('flower').mean()

                 sepal_length  sepal_width  petal_length  petal_width
flower
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

In [6]:
di.groupby('flower').std()

                 sepal_length  sepal_width  petal_length  petal_width
flower
Iris-setosa          0.352490     0.381024      0.173511     0.107210
Iris-versicolor      0.516171     0.313798      0.469911     0.197753
Iris-virginica       0.635880     0.322497      0.551895     0.274650

In [7]:
di.groupby('flower').max()

                 sepal_length  sepal_width  petal_length  petal_width
flower
Iris-setosa               5.8          4.4           1.9          0.6
Iris-versicolor           7.0          3.4           5.1          1.8
Iris-virginica            7.9          3.8           6.9          2.5