# Indexing Data Frame

In [1]:
import pandas as pd

In [5]:
# Read the csv file using separator ; and column 0 as index.
df = pd.read_csv('2020-jaarboek-422.csv', sep=';', index_col=0)

In [6]:
df

                                          2015    2016    2017    2018    2019
parkeerplaatsen                         156473  155898  156709  159426  156593
naheffingsaanslagen met en zonder klem  488469  653599  780405  685359  562481

In [9]:
# Indexing using [] for rows and columns.
# Note that the first one needs to be column name.
df['2019']['parkeerplaatsen']

156593

In [10]:
# Showing column names
df.columns

Index(['2015', '2016', '2017', '2018', '2019'], dtype='object')

In [11]:
# Showing index
df.index

Index(['parkeerplaatsen', 'naheffingsaanslagen met en zonder klem'], dtype='object')

In [13]:
# Index using column as attribute and then the row in this case not possible because columns are using numbers.
# df.2015 <-- Otherwise this will work

In [15]:
# Index using loc.
# Note that loc uses rows and columns as coordinate separated by ,.
df.loc['naheffingsaanslagen met en zonder klem', '2018']

685359

In [32]:
# Index using iloc. Integer loc?
df.iloc[0,0]

156473

In [21]:
# Selecting some columns only.
df[['2018', '2019']]
# Note that this becomes a new dataframe and NOT a series.

                                          2018    2019
parkeerplaatsen                         159426  156593
naheffingsaanslagen met en zonder klem  685359  562481

In [25]:
# Selecting one column makes it a series
ts = df['2016']
print(ts)
print(type(ts))

parkeerplaatsen                           155898
naheffingsaanslagen met en zonder klem    653599
Name: 2016, dtype: int64
<class 'pandas.core.series.Series'>

In [26]:
# Slice
ts[1]

653599

In [33]:
# Slicing for parkeerplaatsen and several columns
sl = df.loc['parkeerplaatsen', ['2016', '2019']]
print(sl)
print(type(sl))
# Note that it becomes a series instead of a dataframe! Because only one row.

2016    155898
2019    156593
Name: parkeerplaatsen, dtype: int64
<class 'pandas.core.series.Series'>